body{
    background: gray;
    margin: 30px;
}

.container{
    max-width: 760px;
    margin :auto;
    border :5px solid white;
    background: white;
}
img{
    width: 100%;
}

.imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.fade-In{
    animation: fadeIn 0.6 ease-in forwards;
}

@keyframes fadeIn
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}